{% extends "base.html.twig" %}

{% block body %}
    Salut, {{app.user.email}}!
    <h2>Your techs</h2>
    <ul>
        {% for tech in app.user.techs %}
        <li>{{tech.label}}</li>
        {% endfor %}
    </ul>

{% endblock body %}