{% extends 'base.html.twig' %}

{% block title %}Add a New Tech{% endblock %}

{% block body %}
{{form_start(form)}}
{{form_widget(form)}}
<button>Add Tech</button>
{{form_end(form)}}
{% endblock %}

